{% extends 'base.html.twig' %}

{% block title %}Hello ReadingController!{% endblock %}

{% block body %}
    <header>
        <img src="{{ asset('asset/logomyactivtransparent.png') }}" alt="logo"/>
        <h1 class="text-center mt-5 mb-5">Bienvenue dans mon univers de Hobbies</h1>
    </header>

    <h2>ici seront toute les images et description de mes projets crochets</h2>

    <a class="nav-link active" href="{{ path('myactiv') }}">Accueil</a>


    <div class="container">
        <div class="row">
            {% for reading in readings %}
                <div class="col-4">
                    <div class="card" style="width: 25rem;">
                        <img src="{{ reading.image }}"  width="40%">
                        <div class="card-body">
                            <h5 class="card-title">Titre du roman : <strong>{{ reading.title }}</strong></h5>
                            <p class="card-text">Nom de l'auteur/e : <strong>{{ reading.author }}</strong></p>
                            <p class="card-text">Résumé de {{ reading.title }} : <strong>{{ reading.resumer }}</strong></p>
                            <p class="card-text">Vous allez vous régaler de : <strong>{{ reading.numberpage }}</strong> pages</p>
                            <a href="#" class="btn btn-primary">Un bouton ?</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
