{% extends 'base.html.twig' %}

{% block title %}Hello CrochetController!{% endblock %}

{% block body %}
    <header>
        <img src="{{ asset('asset/logomyactivtransparent.png') }}" alt="logo"/>
        <h1 class="text-center mt-5 mb-5">Mes projets aux crochet 😉</h1>
    </header>


    <a class="nav-link active" href="{{ path('myactiv') }}">Accueil</a>


    <h2>ici seront toute les images et description de mes projets crochets</h2>


    <div class="container">
        <div class="row">
            {% for crochet in crochets %}
                <div class="col-4">
                    <div class="card" style="width: 25rem;">
                        <img src="{{ crochet.crochetimage }}" class="card-img-top" alt="...">
                        <img src="{{ crochet.pelotteimage }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nom :<strong>{{ crochet.numbercrochet }}</strong></h5>
                            <p class="card-text">Lieu où pratiquer :<strong>{{ crochet.pelottenumber }}</strong></p>
                            <a href="#" class="btn btn-primary">Un bouton ?</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
